<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chronos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
  <header>
    <h1>Chronos</h1>
    <nav>
      <a href="/timetable">Home</a>
    </nav>
  </header>

  {{{body}}}
</div>
</body>
</html>
